@import "tailwindcss";

@theme {
  --color-primary: #06261b;
  --color-primary-dark: #0a2f25;
  --color-primary-light: #0d382d;
  --color-accent: #f1683a;
  --color-accent-hover: #e05527;
  --color-bg-light: #f3f4f6;
  --color-bg-gray: #f9f9f9;
}

@layer base {
  body {
    @apply antialiased text-gray-900 bg-white;
  }
}

* {
  scroll-behavior: smooth;
}
